# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data & outputs
data/
outputs/
*.joblib
*.pt
*.pth
*.log

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
